.seccion{
    background-color: darkslategray;
    padding: 1rem;
    margin: 1rem;
}

.parrafo{
    background-color: white;
    padding: 1rem;
}

.dragging{
    opacity: 0.3;
}

.imagen-fantasma{
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
    left: -100vw;
}